.active {
  color: #fff;
  background-color: #0d6efd;
}

.sidebarContainer {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
}

.contentContainer {
  padding-top: 40px;
}

.sidebarLogo {
  padding: 10px 15px 10px 30px;
  font-size: 22px;
  background-color: #0d6efd;
}

.sidebarNavigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebarNavigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebarNavigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
  font-size: 18px;
}

.sidebarNavigation li i {
  margin-right: 10px;
}

.sidebarNavigation li a:active,
.sidebarNavigation li a:hover,
.sidebarNavigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebarNavigation li::before {
  background-color: #0d6efd;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidbarActive {
  background-color: #0d6efd;
}

.sidebarNavigation li:hover::before {
  width: 100%;
}

.sidebarNavigation .header {
  font-size: 22px;
  text-transform: uppercase;
  background-color: #151515;
  text-align: center;
  padding: 30px 0 20px 0;
}

.sidebarNavigation .header::before {
  background-color: transparent;
}

.contentContainer {
  padding-left: 220px;
}
